{% extends 'BeubiDemoBundle::layout.html.twig' %}

{% block contact %}<li class="active"><a href="{{ path('contact') }}">Contact</a></li>{% endblock %}

{% block content %}

<header id="head" class="secondary"></header>

  <!-- container -->
  <div class="container">

    <ol class="breadcrumb">
      <li><a href="{{ path('home') }}">Home</a></li>
      <li class="active">Contact</li>
    </ol>

    <div class="row">

      <!-- Article main content -->
      <article class="col-sm-9 maincontent">
        <header class="page-header">
          <h1 class="page-title">Contact us</h1>
        </header>

        <p>
          We’d love to hear from you. Interested in working together? Fill out the form below with some info about your project and I will get back to you as soon as I can. Please allow a couple days for me to respond.
        </p>
        <br>
          <form>
            <div class="row">
              <div class="col-sm-4">
                <input class="form-control" type="text" placeholder="Name">
              </div>
              <div class="col-sm-4">
                <input class="form-control" type="text" placeholder="Email">
              </div>
              <div class="col-sm-4">
                <input class="form-control" type="text" placeholder="Phone">
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-sm-12">
                <textarea placeholder="Type your message here..." class="form-control" rows="9"></textarea>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-sm-6">
                <label class="checkbox"><input type="checkbox"> Sign up for newsletter</label>
              </div>
              <div class="col-sm-6 text-right">
                <input class="btn btn-success" type="submit" value="Send message">
              </div>
            </div>
          </form>

      </article>
      <!-- /Article -->

      <!-- Sidebar -->
      <aside class="col-sm-3 sidebar sidebar-right">

        <div class="widget">
          <h4>Address</h4>
          <address>
            Avenida de Santa Joana, Nº69, 1ºAndar. Aveiro, PORTUGAL
          </address>
          <h4>Phone:</h4>
          <address>
            (+351) 234 380 315
          </address>
        </div>

      </aside>
      <!-- /Sidebar -->

    </div>
  </div>	<!-- /container -->

  <section class="container-full top-space">
    <div id="map"></div>
  </section>

{% endblock %}
