{% extends 'BeubiDemoBundle::layout.html.twig' %}

{% block demo_form %}<li class="active"><a href="{{ path('workouts') }}">Workouts</a></li>{% endblock %}

{% block content %}

<header id="head" class="secondary"></header>

  <!-- container -->
  <div class="container">

    <ol class="breadcrumb">
      <li><a href="{{ path('home') }}">Home</a></li>
      <li class="active">Workouts</li>
    </ol>

    <div class="row">

      <!-- Sidebar -->
      <!-- <aside class="col-md-3 sidebar sidebar-left">

        <div class="row widget">
          <div class="col-xs-12">
            <h4>Lorem ipsum dolor sit</h4>
            <p>Very complex form with lots of information!</p>
          </div>
        </div>

      </aside> -->
      <!-- /Sidebar -->

      <!-- Article main content -->
      <article class="col-md-12 maincontent">

        <header class="page-header">
          <h1 class="page-title">Latest Workouts</h1>
        </header>

        <table class="table table-hover table-striped">
          <thead>
            <th>Title</th>
            <th>Date/Time</th>
            <th>Distance</th>
            <th>Duration</th>
            <th>Description</th>
          </thead>
          <tbody>
          {% for item in workouts %}
            <tr>
              <td>{{ item.title }}</td>
              <td>{{ item.timestamp | date }}</td>
              <td>{{ item.distance }} Km</td>
              <td>{{ item.duration }}</td>
              <td>{{ item.description }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>

      </article>
      <!-- /Article -->

    </div>
  </div>	<!-- /container -->

{% endblock %}
